@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.adduser-wrapper {
  position: absolute;
  top: 100px;
  left: 260px;
  min-width: 1000px;
}
